.header{
    height: 116px;
    position: relative;
    padding: 0 40px;
    z-index: 11;
    background: #000;
}

.logo-container{
	position: relative;
	float: left;
}

.navContainer{
	padding-top: 30px;
}


