nav {
    position: absolute;
    width: 100%;
    ul {
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: right;
        position: absolute;
        li {
            padding: 5px;
            display: inline-block;
            height: 200px;
            max-height: 20px;
            background-color: red;
            will-change: max-height;
            transition: max-height 1s;
            &:hover {
                max-height: 200px;
            }
        }
    }
}