/**
* Basic Styles
*
* @desc Basic and common styles. Formats for every device live in Common Styles, for device-specific stylings use Mobile First approach.
* @author [CW]
*/

// Common Styles


@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

body{
	margin: 0;
	padding: 0;
	background-color: $default-background-color;
	font-family: $font-family-default;
	font-weight: 400;
	font-size: 1em;
}


a{
	color: white;
	text-decoration: none;
}